* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
}
.navBar {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px;
    margin: 10px;
}
.logo {
    width: 100%;
    height: 100%;
}
.navBar img {
    height: 100%;
    width: 35%;
    
}
.navList button {
    border: none;
    background-color: aliceblue;
}
.content {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(48,27,84,1) 0%, rgba(230,21,176,1) 85%);
}
.text {
    width: 100%;
    height: 50%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    box-shadow: 0px 15px 10px -15px black;
    color: white;
}
.page2 {
    height: 100%;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.image img, .image2 img {
    border-radius: 50%;
}

.description {
    color: white;
    padding: 10px 20px;
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    box-shadow: 0px 15px 10px -15px black;
    
}
.image2 img {
    height: 100%;
    width: 70%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}


@media only screen and (min-width: 992px) {

    .navBar img {
        height: 100%;
        width: 10%;
        
    }

    .image2 img {
        height: 100%;
        width: 20%;
    }

    .page2 p {
        padding: 0 300px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        flex-direction: column;
    }
}